<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mattprecious.telescope"
    android:versionCode="1"
    >

  <uses-sdk android:minSdkVersion="14"/>

  <application>
    <activity
        android:name=".RequestCaptureActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />
  </application>

</manifest>
