<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mattprecious.telescope"
    android:versionCode="1"
    >

  <uses-sdk android:minSdkVersion="14"/>

  <application>
    <activity
        android:name=".RequestCaptureActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />
    <provider
        android:authorities="${applicationId}.telescope.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true"
        android:name=".TelescopeFileProvider"
        >
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/telescope_file_paths"
          />
    </provider>
  </application>

</manifest>
